* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow-y: scroll;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0 0 10px 0;
}

h2 {
    margin: 0 0 24px 0;
    font-size: 30px;
}

h3 {
    margin: 10px 0 20px 0;
    font-size: 25px;
}

.conteiner {
    text-align: center;
    margin: auto;
}           

.formulario {
    font-size: 13px;

}
.input {
    border-radius: 3px;
    padding: 10px 380px 10px 7px;
    border: white;
}


.botao {
    padding: 15px 207px;
    background: blue;
    color: white;
    border: white;
}